# 로컬 Spring Boot 직접 실행
SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/shortlink_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=shortlink
SPRING_DATASOURCE_PASSWORD=shortlink_pw
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SHORTLINKOPS_BASE_URL=http://localhost:8080
